{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "avoid",
  "requirePragma": false,
  "insertPragma": false,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrder": [
    "^react$",
    "^react-dom$",
    "^next",
    "<THIRD_PARTY_MODULES>",
    "^@/types/(.*)$",
    "^@/lib/(.*)$",
    "^@/hooks/(.*)$",
    "^@/components/ui/(.*)$",
    "^@/components/(.*)$",
    "^@/app/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "overrides": [
    {
      "files": "package.json",
      "options": {
        "tabWidth": 2,
        "useTabs": false
      }
    },
    {
      "files": ["next.config.*", "tailwind.config.*", "postcss.config.*"],
      "options": {
        "singleQuote": true,
        "semi": true
      }
    },
    {
      "files": ["tsconfig.json", "tsconfig.*.json"],
      "options": {
        "tabWidth": 2,
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "proseWrap": "always",
        "printWidth": 80,
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.css", "*.scss", "*.sass"],
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.json", "*.json5"],
      "options": {
        "singleQuote": false,
        "tabWidth": 2,
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "singleQuote": false,
        "tabWidth": 2
      }
    },
    {
      "files": [".env*"],
      "options": {
        "printWidth": 120
      }
    }
  ]
}
